<div id="container">

    <div class="col a">
        <img id="burger-pic" src="/assets/img/tofu-burger.png" alt="burger-pic">
        <h1>Burger Buddy</h1>
        <p>Enter the name of the burger you'd like to eat and click "Prep it!"</p>
        <form class="prep-burger" action="">
            <input type="text" id="burger-name" name="burger-name"><br><br>
            <input type="submit" value="Prep it!">
        </form>
    </div>

    <div class="col b">
        <h3>Ready-to-eat burgers</h3>

        {{#each burger_data}}
            {{#unless this.devoured}}
                <div class="burger prepped" data-id="{{this.id}}" data-status="{{this.devoured}}">
                    <p>{{this.id}} {{this.burger_name}}</p>
                    <button class="eat-it" data-id="{{this.id}}">
                        Eat it!
                    </button>
                </div>
            {{/unless}}
        {{/each}}

    </div>

    <div class="col c">
        <h3>Burgers I've eaten (RIP)</h3>

        {{#each burger_data}}
            {{#if this.devoured}}
                <div class="burger eaten" data-id="{{this.id}}" data-status="{{this.devoured}}">
                    <p>{{this.id}} {{this.burger_name}}</p>
                </div>
            {{/if}}
        {{/each}}

        
    </div>

</div>
<script src="" async defer></script>